* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;

    font-family: 'Sora', sans-serif;
}

/* common */
a {
    text-decoration: none;

}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;


}

.btn {

    display: inline-block;
    min-width: 125px;
    line-height: 30px;
    font-weight: 400;
    font-size: 1.8rem;
    background: #2E80CE;
    padding: 15px 40px;
    text-align: center;
    color: #fff;
    border-radius: 999px;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

/* header */

.header {

    background: #10375C;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;

}


.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.header .logo {
    display: flex;
    gap: 9px;
    align-items: center;



}

.nav {
    margin-left: auto;
    margin-right: auto;
}


.nav ul {
    display: flex;

}

.nav li.active a::before {
    position: absolute;
    left: -12px;
    top: 6px;
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;

}

.nav ul li a {
    position: relative;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    /* identical to box height, or 175% */

    text-align: center;

    color: #C9D2DA;
    margin-left: 42px;

}

.nav ul li a:hover {
    color: #fff;
}

.header .action {
    margin-left: 49px;
}

.header .sign-up-btn {
    min-width: 64px;
    padding: 8px 20px;
    line-height: 28px;
}

.header .action>a:first-child {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    /* identical to box height, or 175% */

    text-align: right;

    color: #C9D2DA;
    margin-right: 28px;
}

.header .action>a:first-child:hover {
    color: #fff;
}

/* hero */

.hero {
    background: #10375C;
    padding-top: 56px;
    padding-bottom: 65px;
}

.hero .body {
    display: flex;
}

.hero .image {
    width: 46%;
    margin-left: auto;
    display: flex;
    position: relative;

}

.hero .image .image-left {
    width: 330px;
    height: 540px;
    object-fit: cover;
    border-radius: 6px;
    display: block;

}

.hero .image .image-right {
    width: 201px;
    height: 410px;
    object-fit: cover;
    border-radius: 6px;
    display: block;
    position: absolute;
    top: 65px;
    left: 330px;

}

.hero .info h1 {
    font-weight: 600;
    font-size: 7.0rem;
    line-height: 1.14;
    /* or 114% */

    letter-spacing: -0.02em;

    color: #FFFFFF;

}

.hero .info p {
    margin-top: 22px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    /* or 167% */


    color: #C9D2DA;

}

.hero .call-now {
    margin-left: 38px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    /* identical to box height, or 167% */

   

    color: #FFFFFF;
}

.hero .content-block{
    margin-top: 50px;
    width: 44.2%;
}

.hero .book-now{
    margin-top: 32px;
}

