* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;

    font-family: 'Sora', sans-serif;
}

/* common */
a {
    text-decoration: none;

}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;


}

.btn {

    display: inline-block;
    min-width: 125px;
    line-height: 30px;
    font-weight: 400;
    font-size: 1.8rem;
    background: #2E80CE;
    padding: 15px 40px;
    text-align: center;
    color: #fff;
    border-radius: 999px;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-3 {
    --line-clamp: 3;

}

.break-all {
    word-break: break-all;
}

/* header */

.header {

    background: #10375C;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;

}


.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.header .logo {
    display: flex;
    gap: 9px;
    align-items: center;



}

.nav {
    margin-left: auto;
    margin-right: auto;
}


.nav ul {
    display: flex;

}

.nav li.active a::before {
    position: absolute;
    left: -12px;
    top: 6px;
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background: #fff;
    border-radius: 50%;

}

.nav ul li a {
    position: relative;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    /* identical to box height, or 175% */

    text-align: center;

    color: #C9D2DA;
    margin-left: 42px;

}

.nav ul li a:hover {
    color: #fff;
}

.header .action {
    margin-left: 49px;
}

.header .sign-up-btn {
    min-width: 64px;
    padding: 8px 20px;
    line-height: 28px;
}

.header .action>a:first-child {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    /* identical to box height, or 175% */

    text-align: right;

    color: #C9D2DA;
    margin-right: 28px;
}

.header .action>a:first-child:hover {
    color: #fff;
}

/* hero */

.hero {
    background: #10375C;
    padding-top: 56px;
    padding-bottom: 65px;
}

.hero .body {
    display: flex;
}

.hero .image {
    width: 46%;
    margin-left: auto;
    display: flex;
    position: relative;

}

.hero .image .image-left {
    width: 330px;
    height: 540px;
    object-fit: cover;
    border-radius: 6px;
    display: block;

}

.hero .image .image-right {
    width: 201px;
    height: 410px;
    object-fit: cover;
    border-radius: 6px;
    display: block;
    position: absolute;
    top: 65px;
    left: 330px;

}

.hero .info h1 {
    font-weight: 600;
    font-size: 7.0rem;
    line-height: 1.14;
    /* or 114% */

    letter-spacing: -0.02em;

    color: #FFFFFF;

}

.hero .info p {
    margin-top: 22px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    /* or 167% */


    color: #C9D2DA;

}

.hero .call-now {
    margin-left: 38px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    /* identical to box height, or 167% */



    color: #FFFFFF;
}

.hero .content-block {
    margin-top: 50px;
    width: 44.2%;
}

.hero .book-now {
    margin-top: 32px;
}

/* services */

.services {
    margin-top: 170px;

}


.services .heading h1 {
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;

    /* identical to box height, or 120% */

    text-align: center;
    letter-spacing: -0.02em;

    color: #10375C;
}

.services .heading p {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    /* or 167% */

    text-align: center;

    color: #575F66;
}

.services .services-body {
    display: flex;
    margin-top: 70px;
}

.services-body .img img {
    display: block;
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}


.services .service-items {
    display: flex;
    flex-direction: column;
    width: 470px;
    margin-left: 130px;
    margin-top: 105px;
    gap: 20px;
}


.service-items .item {
    display: flex;
}

.service-items .item .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #EFF6FD;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);


}

.service-items .item .item-content {
    margin-left: 19px;
    width: 315px;
}

.service-items .item .item-content p {
    margin-top: 8px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    /* or 175% */


    color: #575F66;

}

.service-items .item .item-content .sub-title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 23px;
    /* identical to box height */


    color: #10375C;

}

.services-body-content .btn {
    margin-top: 75px;
    margin-left: 130px;
}

.service-items .item:first-child .icon {
    background: #2E80CE;
    box-shadow: 0px 8px 16px rgba(40, 155, 222, 0.15);

}

.service-items .item {
    background-color: #fff;
    padding: 21px 22px 20px;

}

.service-items .item:first-child,
.service-items .item:hover {

    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}



.service-items .item:hover .icon {
    background: #2E80CE;
    box-shadow: 0px 8px 16px rgba(40, 155, 222, 0.15);

}

/* popular */

.popular {
    margin-top: 170px;
    background: #F7FBFF;
    padding-top: 100px;
    padding-bottom: 175px;
}

.popular .heading {
    margin-right: auto;
    width: 468px;

}

.popular .heading .sub-title {
    font-weight: 600;
    font-size: 5.0rem;
    line-height: 1.2;
    /* identical to box height, or 120% */

    letter-spacing: -0.02em;

    color: #10375C;

}

.popular .heading .desc {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    /* or 167% */


    color: #575F66;

}

.popular .popular-items {
    display: flex;
    margin-top: 86px;
    gap: 30px;
}

.popular .popular-items .popular-item {
    border-radius: 4px;
    width: 32%;
    height: 402px;
    display: flex;
    flex-direction: column;
    background: #EAF6FF;
    padding: 16px;
}

.popular .popular-item .item-body {
    border-radius: 4px;
    background-color: #fff;
    height: 100%;
    padding-top: 45px;
    padding-left: 44px;
    padding-right: 42px;
}


.popular-item .item-body .icon img {
    width: 68px;
    height: 68px;

}

.popular-item .item-body .item-title {
    margin-top: 21px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.38;
    /* identical to box height, or 138% */


    color: #10375C;

}

.popular-item .item-body .desc {
    margin-top: 28px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    /* or 175% */


    color: #575F66;
}

.popular-item .item-body .popular-action {
    margin-top: 18px;
    display: block;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    /* identical to box height, or 175% */


    color: #575F66;

}

.popular-item:hover {
    margin-top: -16px;
    background-color: #2E80CE;

}

/* blog */

.blog {
    margin-top: 170px;

}

.blog .main-content {
    display: flex;
}

.blog .image {
    width: 50%;
    position: relative;

}

.blog .blog-content {
    margin-left: 130px;
    margin-top: 82px;
    width: 50%;
}

.blog .image .image-left {

    display: block;
    width: 512px;
    height: 370px;
    object-fit: cover;
    filter: drop-shadow(0px 14px 28px rgba(0, 0, 0, 0.07));
    border-radius: 6px;

}

.blog .image .image-right {
    position: absolute;
    display: block;
    object-fit: cover;
    width: 332px;
    height: 370px;
    border-radius: 6px;
    top: 21%;
    left: 41%;


}

.blog .blog-content .sub-title,
.blog .blog-content .desc {
    width: 80%;
}

.blog .sub-title {
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    /* or 120% */

    letter-spacing: -0.02em;

    color: #10375C;

}

.blog .desc {
    margin-top: 18px;
    margin-bottom: 38px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    /* or 167% */


    color: #575F66;
}

/* visual dentist */

.vitual-dentist {
    margin-top: 170px;
}

.vitual-dentist .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.vitual-dentist .sub-title {
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    /* identical to box height, or 120% */

    text-align: center;
    letter-spacing: -0.02em;

    color: #10375C;
}

.vitual-dentist .heading .btn {
    margin-top: 30px;
    display: inline-block;

}

.vitual-dentist .list-dentist {
    margin-top: 70px;
    display: flex;
    gap: 30px;
}

.list-dentist .dentist-item {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;

}

.list-dentist .dentist-item div:first-of-type {
    position: relative;
    width: 270px;
    height: 318px;
    background: #EAF6FF;
    border-radius: 6px;
}

.list-dentist .dentist-item .image-dentist {
    position: absolute;
    top: 28px;
    width: 100%;
    height: 91%;
    display: block;
    object-fit: cover;
    border-radius: 6px;
}

.list-dentist .dentist-item .name {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;

    color: #10375C;
}

.list-dentist .dentist-item .desc {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 1.86;


    color: #575F66;
}

.vitual-dentist .active {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    margin-top: 38px;
}

.vitual-dentist .active .icon-next {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #575F66;
    transform: matrix(-1, 0, 0, 1, 0, 0);


}

.vitual-dentist .active .icon-prev {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2E80CE;

}

/* social */

.social {
    margin-top: 170px;
    background: #2E80CE;
    border-radius: 4px;

}

.social .body {
    position: relative;
    width: 100%;

    height: 427px;

}

.social .body-content {
    width: 50%;
    margin-left: auto;
    padding-top: 76px;
}

.social .body-image {
    position: absolute;
    bottom: 0;
}

.social .sub-title {
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    /* or 120% */

    letter-spacing: -0.02em;

    color: #FFFFFF;
}

.social .body-content .desc {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    ;
    /* or 167% */


    color: #FFFFFF;
    margin-top: 18px;

}

.social .social-item{
    display: flex;
    margin-top: 20px;
    gap: 30px;
}

.social-item .item{
   padding:7px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    border: 2px solid #fff;
    border-radius: 6px;
}

.social .logo-social-1{
    width: 23px;
    height: 26px;
}

.social .logo-social-2{
    width: 17.72px;
    height: 21.78px;
}

.social-item .item strong{
    color: #fff;
    font-size: 1.7rem;
    line-height: 1.2;
    display: block;
}

.social .desc-logo{
    color: #fff;
    font-size: 1.3rem;
    line-height: 1.67;
}